.tapestry_tree-buttons {
	align-self: flex-end;
	display: none;
}

.tree-item-self:hover > .tapestry_tree-buttons {
	display: inherit;
}

.tapestry_tree-buttons .clickable-icon {
	padding: 0 var(--size-2-1);
	--icon-size: 1lh;
}
