.tapestry_tree .tree-item-self:not(:has(.tree-item-icon)) {
	margin-left: var(--nav-item-children-padding-start);
	padding-left: var(--nav-item-children-padding-start);
}

.tapestry_tree .tree-item-self .tree-item-icon {
	color: var(--nav-collapse-icon-color);
}

.tapestry_tree-buttons {
	align-self: flex-end;
	display: none;
}

.tree-item-self:hover > .tapestry_tree-buttons {
	display: inherit;
}

.tapestry_tree-buttons .clickable-icon {
	padding: 0 var(--size-2-1);
	--icon-size: 1lh;
}

.tapestry_tree .tree-item-inner {
	text-overflow: ellipsis;
	white-space: nowrap;
}

.tapestry_tree .tree-item-self:hover > .tree-item-flair-outer {
	display: none;
}

.tapestry_tree-notice {
	color: var(--text-faint);
}

.tapestry_graph {
	width: 100%;
	height: 100%;
}
